* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55a630;
    color: white;
}

.brand {
    font-size: 24px;
    margin: 11px; /*Cannot work out where 4px are coming from, hence 11px instead of 13px*/
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    padding: 0 15px;
    display: block;
    line-height: 50px;
    color: white;
}

.navbar li:hover {
    background-color: #80b918;
}

.navbar li a.current {
    background-color: white;
    color: #80b918;
}

.toggle-button {
    position: absolute;
    top: 12.5px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 25px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 450px) {
    .toggle-button {
        display: flex;
    }
    .links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .links ul {
        flex-direction: column;
        width: 100%;
        background-color: #55a630;
    }
    .links li {
        text-align: center;
    }
    .links li a {
        line-height: 30px;
    }
    .links.active {
        display: flex;
    }
}

footer {
    background-color: #55a630;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;
}

footer li a:hover {
    text-decoration: underline;
}