* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:aliceblue;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#9D79BC;
    font-size: 30px;
}

nav a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    line-height: 50px;
}

nav a:hover {
    background-color:#A14DA0;
    color: aliceblue;
}

nav a.active {
    background-color:aliceblue;
    color: #8CA0D7;
}

#home-nav,
#projects-nav {
    float: left;
}

#number-nav {
    float: right;
}

footer {
    background-color:#9D79BC;
    font-size: 30px;
    padding: 0 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

footer a {
    text-align: center;
    line-height: 50px;
    color: aliceblue;
    padding: 0 10px;
}

#email:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    footer {
        font-size: 15px;
    }
    footer a {
        padding: 0 5px;
    }
}
