* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1080px; 
    margin: 0 auto !important; 
    float: none !important; 
}

@media only screen and (min-resolution: 300dpi) {
    /* CSS for high resolution screens */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS for varying screen sizes*/
}

#heading {
    border: rgb(0, 255, 128);
    border-style: dashed;
}

.main-content {
    border: blue;
    border-style: dashed;
}

#info {
    border: rgb(255, 166, 0);
    border-style: dashed;
}